.third{
     background-color: whitesmoke;

}

.box{
    text-decoration: none;
    border: 2px solid rgb(24, 211, 186);
    padding: 10px;
    
}
.box:hover{
    background-color:rgba(76, 0, 130, 0.322);
    transition: background-color 1s ease 0s;

}
 