.design{
    /* background-image: url("./colorful-abstract-textured-background-design.jpg"); */
     background-color: whitesmoke;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

 